<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask Parent Template</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <link href="//getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
    <script src="static/js/jquery-1.9.0.js"></script>
    <script src="static/js/click.js"></script>
    <script type="text/javascript" src="/static/js/jquery.ui.widget.js"></script>
    <script type="text/javascript" src="/static/js/jquery.fileupload.js"></script>
    <script type="text/javascript" src="/static/js/jquery.fileupload-process.js"></script>
    <script type="text/javascript" src="/static/js/jquery.fileupload-ui.js"></script>

    <style>
      ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
    </style>
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">Mountain Goat Molt Project</h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="{{ url_for('uploadImage') }}">Upload Image</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>

    {% block content %}
    {% endblock %}

  </body>
</html>
